nav {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
}

.navbar {
    padding-top: 0%;
    padding-bottom: 0%;
    
}

nav a:link, a:active {
    display: inline-block;
    padding: 14px 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    color: rgb(1, 1, 1);
    font-family: 'Montserrat', sans-serif;
}

nav a:hover {
    background-color: rgb(13, 128, 216);
    color: white;
}

/* #navbar {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
    margin: 0px 0px 0px 0px;
}

#navbar .row {
    width:100%;
}

#navbar a:link, a:active {
    text-decoration: none;
    color: rgb(1, 1, 1);
}

#navbar a:hover {
    background-color: rgb(13, 128, 216);
    color: white;
} */

footer {
    background-color: #2b2b2b;
    color: white;
}